In [3]:
import os
import requests
import pandas as pd

## 23andMe Format

```
# Updated: 2018-03-02
# index is a key for the /genomes/ endpoint (2 base pairs per index).
# strand is always +1.
index	snp	chromosome	chromosome_position
0	rs41362547	MT	10044
1	i723121	MT	10550
1	rs28358280	MT	10550
2	i723122	MT	11251
2	rs3915952	MT	11251
```

In [20]:
# Download the entire list of SNPs possible
if not os.path.exists("/home/jovyan/scratch/23_and_me_genome_snp_map.tsv"):
    print("Downloading 23andMe list of SNPs...")
    r = requests.get("https://api.23andme.com/1/genome_snp_map/")
    r.raise_for_status()
    with open("/home/jovyan/scratch/23_and_me_genome_snp_map.tsv", "w") as f:
        f.write(r.text)
snps = pd.read_csv("/home/jovyan/scratch/23_and_me_genome_snp_map.tsv", sep="\t", header=3)
snps.head()

   index         snp chromosome  chromosome_position
0      0  rs41362547         MT                10044
1      1     i723121         MT                10550
2      1  rs28358280         MT                10550
3      2     i723122         MT                11251
4      2   rs3915952         MT                11251

## Gene Cards
* BRCA1
 chr17:43,044,295-43,170,245(GRCh38/hg38)
 chr17:41,196,312-41,277,500(GRCh37/hg19)

* BRCA2 
 chr13:32,314,862-32,400,266(GRCh38/hg38)
 chr13:32,889,611-32,973,809(GRCh37/hg19)

In [42]:
snps.shape

(1497986, 4)

In [43]:
brca_snps = [row for index, row in snps.iterrows() 
             if (row.chromosome == "17" and row.chromosome_position in range(43044295, 43170245))
             or (row.chromosome == "13" and row.chromosome_position in range(32314862, 32400266))]

In [45]:
len(brca_snps)

105